{
  "presets": ["react-native"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "development": {
      "plugins": [
        ["import", { "libraryName": "antd-mobile" }]
      ]
    }
  }
}
